@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');


body
{
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
}
.bordering-page {
  border: 1px solid rgba(81, 99, 111, 255);
  padding: 5px 5px;
}

.logo-scaling {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.textual-heading {
  color: rgba(96, 96, 96, 255);
  text-decoration: underline;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.textual-text {
  color: rgba(96, 96, 96, 255);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.table-heading-style {
  color: rgba(96, 96, 96, 255);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 14px;
  width: 90px;
}

.table-content-style {
  color: rgba(170, 170, 170, 255);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

table.student-detailing-table tr > td {
  padding-bottom: 1em;
}


table.subject-table thead tr > th {
  color: #6c6c6c;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
}

table.subject-table thead tr > th {
  width: 60%;
}

table.subject-table thead tr {
  background-color: rgba(235, 235, 235, 255);
}

table.subject-table thead tr > th:first-child {
  width: 30%;
  padding-left: 5px;
}

table.subject-table thead tr > th:last-child {
  width: 10%;
}

table.subject-table tbody tr > td {
  color: rgba(121, 121, 121, 255);
  font-weight: 400;
  font-size: 14px;
}

table.subject-table tbody tr > td:first-child {
  padding-left: 5px;
}

.full-width {
  width: 100%;
}


.mt-8,
.my-8 {
  margin-top: 3rem !important;
}

.notice-bordering {
  border: 1px solid #9e3835;
  color: #b1272c;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}


.light-grey-text {
  color: rgba(170, 170, 170, 255);
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.mt-6,
.my-6 {
  margin-top: 2.5rem !important;
}